/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -------------------------------------------------------------------------------------------------*/

/* rethink font
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800

.rethink-sans-<uniquifier> {
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* lato font
font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal; */
body {
    padding: 0 50px;
    background-color: #42375c;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.navbar {
    padding: 1em 5em;
}

li a {
    font-family: "Rethink Sans", sans-serif;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.section-one {
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.b1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.b1 .introduction {
    flex: 1;
    font-family: "Rethink Sans", sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    letter-spacing: 1px;
    text-align: left;
    color: white;
    max-width: 300px;
}

.b1 h1 {
    color: white;
    font-family: "lato", sans-serif;
    font-weight: 700;
    letter-spacing: -6px;
    text-transform: capitalize;
    font-size: 6.5em;

}

.intro {
    padding-top: 3em;
    max-width: 70%;
    display: flex;
    justify-content: space-between;
}

.intro .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 100%;
    text-decoration: none;
    color: #42375c;
    background-color: white;
    border: 1px solid white;
    border-radius: 0.2em;

}

.b1,
.b3 {
    flex-grow: 2;
    width: 100%;
}

.fi-sr-angle-small-right {
    font-size: 2em;
    text-align: center;
}

.b2 {
    align-self: flex-end;
    background-color: black;
    flex-grow: 1;
}

.b2 img {
    width: 250px;
    aspect-ratio: 1/3;
    object-fit: cover;
}

.b3 .project-box {
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 1px;
}

.project-box h2 {
    font-family: "Rethink Sans", sans-serif;
    font-weight: 300;
    font-size: 2em;
    color: white;
    text-transform: capitalize;
}

.projects .more-projects {
    font-family: "Rethink Sans", sans-serif;
    font-weight: 100;
    font-size: 2em;
    color: white;
    text-decoration: none;

}